.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-image {
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  padding-top: 10px;
}

.card {
  width: 275px;
  text-align: center;
}

.card-top-content {
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  position: relative;
  text-align: right;
  width: 250px;
  padding: 8px;
  margin-bottom: 8px;
}

.save-button {
  position: absolute;
  top: 25px;
  left: 20px;
  padding: 5px 10px;
  color: rgb(180, 180, 180);
  border-radius: 8px;
  display: none;
  background-color: beige;
}

.card-top-content:hover .save-button {
  display: block;
}

.card-top-content:hover .save-button:hover {
  color: rgba(0, 0, 0, 0.581);
}

.card-bottom-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.card-top-content .list-inline {
  color: #B0B0B0;
  text-align: right;
  padding-top: 8px;
}

.card-top-content .list-inline li {
  margin-left: 8px;
}

.card-bottom-content .profile-link {
  color: #4B94BD;
}

.card-bottom-content .profile-link:hover {
  color: #3F7EA3;
}
